<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dylanwight.madcourse.neu.edu.numad16s_dylanwight" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission
        android:name="dylanwight.madcourse.neu.edu.numad16s_dylanwight.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="dylanwight.madcourse.neu.edu.numad16s_dylanwight.C2D_MESSAGE" />

    <application
        android:name=".mainMenu.NUMAD16s_DylanWight"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:screenOrientation="portrait" >

        <activity
            android:name=".mainMenu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tictactoe.TicTacToeActivity" >
        </activity>
        <activity android:name=".wordDictionary.TestDictionaryActivity" >
        </activity>
        <activity android:name=".tictactoe.GameActivity" >
        </activity>
        <activity android:name=".scraggle.ScraggleMenuActivity" >
        </activity>
        <activity
            android:name=".scraggle.ScraggleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".communication.CommunicationActivity" >
        </activity>
        <activity android:name=".scraggle.LeaderboardActivity" >
        </activity>
        <activity android:name=".communication.GlobalMessageActivity" >
        </activity>
        <activity android:name=".scraggle.ChallengeActivity" >
        </activity>
        <activity
            android:name=".communication.CommunicationMessagesActivity"
            android:screenOrientation="portrait" >
        android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FoodGrouper.SpeechToItemsActivity"
            android:screenOrientation="portrait" >
        android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".FoodGrouper.FoodGrouperMainActivity"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".communication.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="edu.neu.madcourse.gcmdemo" />
            </intent-filter>
        </receiver>

        <service android:name=".communication.GcmIntentService" />
    </application>

</manifest>
